// Site-wide styles go here

@import "_variables";
@import "bourbon/_bourbon";

@import "_vertical_rhythmic";

body {
  font-family: $font_family;
  font-size: $font_size;
  line-height: $line_height;
  height: 100%;
  padding: 0;
  margin: 0;
}


